<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.config.mapper.SoftVersionMapper">

    <resultMap type="com.ruoyi.project.app.domain.SoftVersion" id="SoftVersionResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="version"    column="version"    />
        <result property="tag"    column="tag"    />
    </resultMap>

    <sql id="selectSoftVersionVo">
        SELECT id,type,version,tag FROM tab_soft_version
    </sql>

    <select id="selectSoftVersion" parameterType="com.ruoyi.project.app.domain.SoftVersion" resultMap="SoftVersionResult">
        <include refid="selectSoftVersionVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="type != null and type != '' "> and type = #{type}</if>
            <if test="version != null and version != ''"> and version = #{version}</if>
            <if test="tag != null and tag != ''"> and tag = #{tag}</if>
        </where>
    </select>

    <!--通过id查询版本信息-->
    <select id="selectSoftVersionById" parameterType="Integer" resultMap="SoftVersionResult">
        <include refid="selectSoftVersionVo"/>
        where id = #{id}
    </select>

    <update id="updateVersion" parameterType="com.ruoyi.project.app.domain.SoftVersion">
        update tab_soft_version
        <trim prefix="SET" suffixOverrides=",">
            <if test="version != null  and version != ''  ">version = #{version},</if>
        </trim>
        where id = #{id}
    </update>

</mapper>