<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								激活码：<input type="text" name="code"/>
							</li>

							<!--<li>-->
								<!--IMEI号：<input type="text" name="imei"/>-->
							<!--</li>-->
							<li>
								激活状态：
								<select id="actSign" style="width: 120px" name="actSign">
									<option value="">请选择</option>
									<option value="1">是</option>
									<option value="0">否</option>
								</select>
							</li>
							<li class="select-time">
								<label>激活时间： </label>
								<input type="text" class="time-input" id="actDate" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="actDateEnd" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="code:activeCode:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
		$(function () {
			$("#companyId").select2({
				width:"200px",
			});
		})
        var prefix = ctx + "code/myActiveCode";
        $(function() {
            var options = {
                url: prefix + "/list",
				exportUrl: prefix + "/export",
                modalName: "激活码",
				search: false,
		        showExport: true,
				sortName:'actDate',
				sortOrder:'desc',
                columns: [
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'code', 
					title : '激活码',
					sortable: true,
					formatter:function (value, row, index) {
						if(row.actSign){
							return '<span style="color: green">'+value+'</span>';
						}
						return value;
					}
				},
				{
					field : 'imei', 
					title : 'IMEI',
					sortable: true
				},
					{
						field : 'actSign',
						title : '激活',
						sortable: true,
						formatter:function (value, row, index) {
							if(value == 1){
								return '<span style="color: green">是</span>';
							}
							return "否";
						}
					},
				{
					field : 'disDate', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'actDate', 
					title : '激活时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs " href="#" onclick="rqCode(\'' + row.id + '\')"><i class="fa fa-edit"></i>扫码</a> ');
						return actions.join('');
		            }
		        }
		        ]
            };
            $.table.init(options);
        });

        function createCode() {
			$.modal.open("生产激活码",prefix+"/add",500,300)
		}

		function codeConfig(id) {
			var url = "/404.html";
			if ($.common.isNotEmpty(id)) {
				url = $.table._option.updateUrl.replace("{id}", id);
			} else {
				var rows = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
				if (rows.length == 0) {
					$.modal.alertWarning("请至少选择一条记录");
					return;
				}
				url = $.table._option.updateUrl.replace("{id}", rows.join());
			}
			$.modal.open("分配激活码", url,500,300);
		}

		function rqCode(id) {
			$.modal.open("扫码激活", "/code/myActiveCode/"+id,440,360);
		}
    </script>
</body>
</html>